.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  max-width: 400px;
  height: auto;
  height: 80%;
}

.movieImg {
  border-radius: 15px;
  margin: 15px;
}

.movieDetails {
  font-size: 1.5rem;
}
